@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.iceCapp {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}

.iceCappLogo {
  margin-left: 20px;
  height: 100px;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

.info {
  display: flex;
  width: 33%;
  justify-content: space-around;
}
