@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
}

.iceCapp {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}

.iceCappLogo {
  height: 80px;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

.info {
  display: flex;
  width: 33%;
  justify-content: flex-end;
}
